:root{
  --popover-height: 36px;
}

/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins" "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* POPOVER */
.nav {
  position: fixed;
  top: 50%;
  right: -10px;
  translate: 0 -50%;
  display: grid;
  place-items: center;
  gap: 8px;
  padding: 20px;
  cursor: pointer;
}

.nav button {
  position: relative;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #e7e7e9;
  background: transparent;
  font-family: inherit;
  cursor: inherit;
}

.nav button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  right: 42px;
  translate: 6px -50%;
  opacity: 0;
  visibility: hidden;
  background: #222222;
  color: #f7f7f7;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 4px;
  transition: 0.3s;
}

.nav button:hover::before {
  opacity: 1;
  visibility: visible;
  translate: 0 -50%;
}

.material-symbols-outlined {
  font-size: 18px;
}

.popover {
  position: relative;
  height: var(--popover-height);
  width: 60px;
  text-align: center;
}

.popover__img {
  width: var(--popover-height);
  height: var(--popover-height);
  border-radius: 50%;
  transition: .3s;
}

.popover:hover > .popover__img{
  opacity: 0.65;
}

.menu {
  position: absolute;
  top: 0;
  right: 64px;
  width: 260px;
  padding: 16px;
  translate: 8px 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 6px 50px rgb(0 0 0 16%);
  transition: .3s;
}

.menu::after{
  content: "";
  position: absolute;
  top: 16px;
  right: -5px;
  width: 10px;
  height: 10px;
  rotate: 45deg;
  background: inherit;
}

.popover:hover .menu{
  opacity: 1;
  visibility: visible;
  translate: 0;
}

.menu .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.author__name {
  margin: 0;
  font-size: 14px;
}

.author__location {
  margin: 0;
  font-size: 11px;
  opacity: 0.5;
}

.popover__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.popover__images{
  display: flex;
  gap: 10px;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.popover__images::-webkit-scrollbar{
  display: none;
}

.popover__image{
  scroll-snap-align: start;
  width: 108px;
  min-width: 108px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
